<h2>Register</h2>

<form (ngSubmit)="onRegister()" #registerForm="ngForm">
  <label>Full Name:</label>
  <input [(ngModel)]="sName" name="name" required />

  <label>Email:</label>
  <input [(ngModel)]="sEmail" name="email" required type="email" />

  <label>Password:</label>
  <input
    type="password"
    name="password"
    [(ngModel)]="sPassword"
    required
    autocomplete="new-password"
  />

  <label>Confirm Password:</label>
  <input
    type="password"
    name="confirmPassword"
    [(ngModel)]="confirmPassword"
    required
    autocomplete="new-password"
  />

  <button type="submit">Register</button>
</form>

<div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>
<div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
